* {
    -fx-background-color: transparent;
}

.task-styles {
    -fx-background-color: linear-gradient(to right, rgb(251,237,66) 0%, rgb(255,165,0) 33%, rgb(245,22,118) 66%, rgb(255,0,193) 100%) !important;
    -fx-border-color: transparent;
}