.main-container {
    -fx-background-image: url("future-background.png");
    -fx-background-size: 1250px 750px;
    -fx-background-position: center center;
}

.title, .text {
    -fx-fill: white;
    -fx-font-size: 20px;
}

.title {
    -fx-font-weight: bold;
}

.source-text, .title {
}

.text {
    -fx-font-weight: 300;
}

.running-status {
    -fx-fill: rgb(255,0,193);
}

.graph-title, .stats-text {
    -fx-font-size: 20px;
    -fx-fill: white;
}

.larger {
    -fx-font-size: 25px;
}

.stats-text {
    -fx-font-size: 18px;
    -fx-font-weight: 600;
}

.text-field {
    -fx-background-color: transparent, rgba(255, 255, 255, .8);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 2;
    -fx-fill: white;
    -fx-font-size: 15px;
}

.graph-pane {
    -fx-background-color: rgba(20,20,20, .2);
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, rgba(255, 255, 255, .9);
}