.title, .text {
    -fx-fill: white;
    -fx-font-size: 20px;
}

.title {
    -fx-font-weight: bold;
}

.text {
    -fx-font-weight: 300;
}

.title, .graph-title, .field-label, #best-time{
    -fx-effect: dropshadow(gaussian, rgb(255,0,193), 5, 0, 0, 0);
}

.larger, .stats-text {
    -fx-effect: dropshadow(gaussian, white, 5, 0, 0, 0);
}

.running-status {
    -fx-fill: rgb(255,0,193);
    -fx-effect: dropshadow(gaussian, rgb(255,0,193), 5, 0, 0, 0);
}

.graph-title, .stats-text {
    -fx-font-size: 20px;
    -fx-fill: white;
}

.larger {
    -fx-font-size: 25px;
}

.stats-text {
    -fx-font-size: 18px;
    -fx-font-weight: 600;
}

.text-field {
    -fx-background-color: transparent, rgba(255, 255, 255, .8);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 2;
    -fx-fill: white;
    -fx-font-size: 15px;
}

.graph-pane {
    -fx-background-color: rgba(20,20,20, .5);
}

.text-field:focused {
    -fx-background-color: -fx-focus-color, rgba(255, 255, 255, .9);
}